@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url('http://themes.googleusercontent.com/font?kit=JEgmtEDzc-IH8jBshQXrYA') format('woff');
}
