.photo {
	border:10px solid #fff;
	
	-moz-box-shadow: 0 2px 4px #666;
	-webkit-box-shadow: 0 2px 4px #666;
	box-shadow: 0 2px 4px #666;
}

img.left {
	margin:0 20px 20px 0;
}

img.right {
	margin:0 0 20px 20px;
}