$gold: #ffce39;
$blue: #183152;
$blue-hover: #2f63a8;
$button-blue:#02679a;
$yellow:#ffffcc;
$link-blue:#375d81;

@import 'reset';
@import 'setup';
@import 'layout';
@import 'header';
@import 'nav';
@import 'feature';
@import 'news';
@import 'sidebar';
@import 'content';
@import 'footer';
@import 'posts';
@import 'forms';
@import 'photo';
@import 'ataglance';
@import 'intro';
