
.content h1{
	font-family: "Alfa Slab One", sans-serif !important;
	font-size: 34px !important;
	color: #000 !important;
	border: 0 !important;
}

#caption{
	z-index: 100;
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 5px 35px 5px 35px;
	text-shadow: 1px 1px 10px black;
	background-color: rgba(0,0,0,.65);
	font-size: 12px !important;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: 0;
	color: rgba(225,225,225,.85);
	text-align: right;
	margin-bottom: 5px;
}

.leadership{
	z-index: 100;
	position: absolute;
	bottom: 20px;
	width: 525px;
	padding: 5px 17px 5px 17px;
	background-color: rgba(0,0,0,.65);
}


#leadership-legacy-newsletter-header img{
	margin-top: 0px;
}

#leadership-legacy-newsletter.content {
	padding: 0;
	width: 559px;
	float: left;
	background: url(../images/annual_report_background.jpg);
}

#feed-sidebar.leadership-legacy-newsletter-feed {
	float: left;
	width: 320px;
	margin: 10px;

}
#leadership-legacy-newsletter-header {
	padding: 0px;
	background-color: none;
	position: relative;
}

#leadership-legacy-newsletter-header h1{
color: white;
margin-bottom: 0;
font-size: 48px;
}


#leadership-legacy-newsletter-header.cover {
	background-color: none;
	border: none;
}
#leadership-legacy-newsletter-content {
	padding: 20px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
}

.leadership-legacy-newsletter-nav {
	float: left;
	margin-top: 20px;
}
.leadership-legacy-newsletter-nav ul{
	margin: 0;
	padding: 0;
}

.leadership-legacy-newsletter-nav li {
	list-style-type: none;
	padding: 0;
	background: #b3b2b1;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-box-shadow: inset 2px 0px 3px #333;
	-webkit-box-shadow: inset 2px 0px 3px #333;
	box-shadow: inner 2px 0px 3px #333;
	margin: 10px 0;
	list-style-image: none;
}

.leadership-legacy-newsletter-nav li.current {
	background: #fffdd3;
	float: none;
	width: auto;
	filter: none;
	-ms-filter: none;
	width: 395px;
}
.leadership-legacy-newsletter-nav li.link {
	position: relative;
  -webkit-transition: padding-left 0.2s ease-out;
  -moz-transition: padding-left 0.2s ease-out;
  -o-transition: padding-left 0.2s ease-out;
  transition: padding-left 0.2s ease-out;
	float: none;
	background: #e6e5e3;
	width: 395px;
}
.leadership-legacy-newsletter-nav li.link:hover {
	position: relative;
  -webkit-transition: padding-left 0.2s ease-out;
  -moz-transition: padding-left 0.2s ease-out;
  -o-transition: padding-left 0.2s ease-out;
  transition: padding-left 0.2s ease-out;
	padding-left: 6px;
}
.leadership-legacy-newsletter-nav a {
	padding: 10px;
	color: #005b82;
	width: 350px;
	display: block;
	font-family: 'Yanone Kaffeesatz', Arial, sans serif;
	font-size: 22px;
	text-align: right;
	font-weight: normal;
}

.leadership-legacy-newsletter-nav a:hover{
	color: #008ec6;
}

.leadership-legacy-newsletter-nav a span {
	padding: 16px;
}
#leadership-legacy-newsletter-content h1 {
	color: white;
	font-weight: normal;
	font-size: 52px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 12px;
	margin-bottom: 15px;

}

#leadership-legacy-newsletter-content a {
	font-weight: bold;
	color: #005b82;
}

#leadership-legacy-newsletter-content a:hover{
	color: #008ec6;
}

#leadership-legacy-newsletter-content h2 {
	font-family: 'Alfa Slab One', Arial, sans serif;
	font-size: 38px;
	font-weight: normal;
	color: #007daf;
}

#leadership-legacy-newsletter-content h3 {

	font-family: 'Alfa Slab One', Arial, sans serif;
	font-size: 28px;
	color: rgba(0,0,0,.7);
	margin: 10px 0 7px 0;
}

#leadership-legacy-newsletter-content p, #leadership-legacy-newsletter-content ul, #leadership-legacy-newsletter-content ol{
	font-family: 'Lato', sans-serif;

}

#leadership-legacy-newsletter-content p {
	font-size: 17px;
	color: #3a3c3c;
}

#leadership-legacy-newsletter-content ul li ul {
	background: none;
	border: none;
	margin-left: 25px;
	list-style-type: square;
}

#leadership-legacy-newsletter-content ul li ul li {
	color: #00658d;

}

#leadership-legacy-newsletter-content ul, #leadership-legacy-newsletter-content ol {
	margin-top: 20px;
	list-style: square;
	font-size: 17px;
	list-style-position: inside;
	background-color: #FFFDD3; /* c'est pa, IE */
	background-color: rgba(251, 231, 130, 0.6);
	padding: 10px;
	line-height: 25px;
	border: 1px solid #ddd;

}

#leadership-legacy-newsletter-content li {
	font-size: 17px;
	color: #00415b;
	font-weight: 400;
	padding: 5px 0;
}
#leadership-legacy-newsletter-content .leadership-legacy-newsletter-toc li {
	color: #005b82
}

.leadership-legacy-newsletter-sidebar {
	width: 340px;
	float: right;
	margin-right: 20px;

}

.leadership-legacy-newsletter-sidebar img {
	margin: 10px;

}

#leadership-legacy-newsletter-featurebox.side-feature {
	width: 260px;
	float: left;
	margin: 10px;

}

#leadership-legacy-newsletter-content blockquote p{
	color: #5a5a5a;

}

#leadership-legacy-newsletter-content blockquote {
	/*font-weight: bold; */
	margin:0;
	padding:0 20px;
	background-image:url('../images/quotemarks.png');
	background-repeat:no-repeat;
}

#leadership-legacy-newsletter-content blockquote img.portrait {
	float:right;
	margin:0 0 20px 20px;
}
	

#leadership-legacy-newsletter-content ul, #leadership-legacy-newsletter-content ol {
/*	margin-left: 25px; */

}

#leadership-legacy-newsletter-content img.sig {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

}

#leadership-legacy-newsletter-content img {
  -moz-box-shadow: 0 3px 5px #222;
  -webkit-box-shadow: 0 3px 5px #222;
  box-shadow: 0 3px 5px #222;

}

.leadership-legacy-newsletter-header-context a{
	font-family: 'Alfa Slab One', Arial, sans serif;
	font-size: 28px;
	color: #005b7f;
	display: block;
	padding: 9px;
}

#orangebar{
	height: 80px;
	font-size: 51px !important;
	background: url(../images/annual_report_header_bg.jpg);
	border: 0;
	margin: 0;
	width: 559px;
	position: absolute;
	top: 0;
	padding: 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	display: none;
}

#sidebox{
	float: right;
	width: 335px;
	padding: 20px 20px 0 20px;
	margin: 20px 14px 20px 0;
	background-color: #FFC;
	font-size: 13px;
}

#sidebox h2{
font-family: 'Yanone Kaffeesatz', Arial, sans serif;
margin-bottom: 20px;
font-size: 2.4em;
}